.blog-big {
  position: relative;

  &__inner {
    display: flex;
  }

  &__items {
    max-width: 750px;
    margin-right: 30px;
  }
  
  &__item {
    width: 100%;
    height: fit-content;
    margin: 0 0 30px;

    &:hover {
      transform: scale(1);
    }

    &:first-child {
      .blog__item-title {
        color: $blue;
      }
    }
  }

  .blog__item-img {
    height: 430px;
  }

  .blog__item-top {
    padding: 35px 30px 40px;
  }

  &__author {
    margin-right: 30px;
    color: $blue;

    span {
      color: #999999;
      font-family: "quicksand", sans-serif;

      &:before {
        margin-right: 7px;
        font-family: "linearicons-free";
      }
    }
  }

  .blog__item-title {
    margin-bottom: 22px;
    font-size: 30px;
    color: $dark-grey;
  }

  .blog__item-bottom {
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding: 0 0 30px;
    border-top: none;
    border-bottom: 1px solid #e8e8e8;
  }

  .blog__date-text {
    display: flex;
    font-family: "quicksand", sans-serif;
    color: #898f96;

    &:before {
      margin-right: 7px;
      font-family: "linearicons-free";
    }
  }

  .blog__item-comments,
  .blog__date-link,
  .blog__date-text {
    margin-right: 45px;
  }

  .blog__item-text {
    -webkit-line-clamp: 5;
    margin-bottom: 30px;
  }

  &__read-more {  
    width: fit-content;
    min-width: 140px;
    text-align: center;
    line-height: 45px;
  }

  // aside
  &__aside {
    min-width: 360px;

  }

  &__aside-item {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  }

  &__aside-title {
    padding: 28px 25px 25px;
    font-size: 20px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
  }

  .search {
    position: relative;
    padding: 30px 25px 40px;

    &__input {
      min-height: 45px;
      width: 100%;

      &::placeholder {
        content: "dasd";
      }
    }

    &__btn {
      top: 30px;
      right: 24px;
      height: 45px;
      font-size: 0;

      &:before {
        font-size: 15px;
      }
    }

  }

  .aside-menu__filters-list {
    padding: 25px;
  }

  .aside-menu__filter {
    &.active {
      color: $blue;
    }
  }

  &__aside-posts {
    padding: 25px 25px 20px;
  }

  &__aside-post {
    flex-direction: row;
    width: 100%;
    margin-bottom: 18px;
    padding-bottom: 20px;
    box-shadow: none;
    border-bottom: 1px solid #e8e8e8;

    &:last-child {
      margin: 0;
      border: none;
    }

    .blog-big__item-title {
      font-size: 16px;
      color: $dark-grey;
    }

    .blog__item-top {
      padding: 0;
    }

    .blog__item-content {
      margin-left: 15px;
    }


    .blog__item-img {
      width: 70px;
      height: 70px;
      border-radius: 0;
    }
  }

  &__title-swap {
    background-color: transparent;
    border: none;
    outline: transparent;

    @include focus-purple;

    color: #000;

    &.active {
      color: $blue;
    }
  }

  &__tags {
    padding: 30px 20px 30px 25px;
  }

  &__tag {
    margin-bottom: 10px;
    margin-right: 5px;
    color: $blue;
    background-color: #edf5fe;

    &.active {
      color: #fff;
      background-color: $blue;
    }
  }

  &__banner {
    max-height: 270px;
    width: 100%;

    object-fit: cover;
  }

  .pagination__list {
    text-align: left;
  }

  &__filters-btn {
    position: absolute;
    top: 20px;
    display: none;
    padding: 12px 28px;
  }
}