$blue: #0674ec;
$grey-bg: #eef1f3;
$dark-grey: #333333;

$grey-text: #555;
$purple: #7347c1;

$lblue: #4198f5;

@mixin focus-purple {
  outline: transparent;

  transition: all .3s;

  &:focus {
    box-shadow: 0 0 2px 1px $purple,
  }
}

@mixin focus-white {
  outline: transparent;

  transition: all .3s;

  &:focus {
    box-shadow: 0 0 2px 1px #fff,
  }
}

@mixin active-white {
  &:active {
    background-color: #fff;
    color: $blue;
    box-shadow: inset 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

@mixin hover-white {
  &:hover {
    background-color: #fff;
    color: $blue;
  }
}

@mixin active-lblue {
  &:active {
    background-color: $lblue;
    box-shadow: inset 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

@mixin hover-lblue {
  &:hover {
    background-color: $lblue;
  }
}

@mixin flex-jcsb-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}