.breadcrumbs {
  &--center {
    text-align: center;
  }

  &__list {
    margin-top: 0;
    padding: 0;
    list-style: none;

    &--how {
      margin: 0;
    }
  }

  &__item {
    position: relative;
    display: inline-block;

    &+& {
      padding-left: 24px;


      &:before {
        position: absolute;
        content: "/";
        left: 8px;
        color: #fff;
      }
    }

    &:last-child {
      .breadcrumbs__link {
        color: #bfcad7;
      }
    }
  }

  &__link {
    color: #fff;
  }
}