.page-heading {
  position: relative;
  padding: 55px 0;
  color: #fff;
  background-color: #000;

  &--search {
    padding: 83px 0 14px;
  }

  &--contact {
    padding: 100px 0;
    text-align: center;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #0d3ef2 0%, #4030c9 46%, #4f2797 100%);
    opacity: 0.92;
  }

  &__suptitle {
    font-size: 20px;
    line-height: 50px;
  }

  &__inner {
    position: relative;
  }

  &__content {
    text-align: center;
  }

  &__title {
    font-size: 26px;
    
    &--search {
      margin-bottom: 32px;
    }

    span {
      font-weight: 500;
    }
  }

  &__search {
    position: relative;
    max-width: 554px;
    margin: 0 auto 35px;
  }

  &__input {
    width: 100%;
    min-height: 55px;
    padding: 0 115px 0 30px;
    border-radius: 35px;
    border: none;
    outline: transparent;
  }

  &__button {
    position: absolute;
    right: -3px;
    top: 0;
    height: 101%;
    min-width: 110px;
  }
}
