.weekly {
  background-color: $grey-bg;

  &__inner {
    padding: 120px 0;
    overflow: hidden;
  }

  &__items {
    margin-right: -28px;
  }
}

.product-weekly {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 450px;
  width: calc(100% - 28px);

  &__picture {
    max-width: 555px;
    width: 100%;
    height: inherit;

    border-radius: 4px 0 0 4px;
    overflow: hidden;
  }

  &__img {
    height: 100%;

    border-radius: inherit;
  }

  &__content {
    padding: 45px 50px 0;
  }

  &__content-bottom {
    padding: 24px 0;
  }

  &__content-title {
    font-size: 24px;
  }

  &__price {
    margin-right: 20px;

    color: #fff;
    background-color: $blue;
  }

  &__stars {
    margin-left: auto;
  }

  &__sells {
    margin-left: 0;
  }
}